@tailwind base;

@layer base {
  :root{
    --primary-color: #0c598d;
    --primary-contrast-color: #07b2b9;
    --secondary-color: #d36117;
    --secondary-contrast-color: #f8bb0f;
    --primary-gradient: linear-gradient(45deg, var(--primary-color), var(--primary-contrast-color));
    --secondary-gradient: linear-gradient(45deg, var(--secondary-color), var(--secondary-contrast-color));
  }

  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }

  html, html.dark {
    .main.guestLayout{
      height: 90vh;
      header{
        height: 10vh;
      }
    }
    .theme-btn-primary{
      @apply text-white;
      background: var(--primary-gradient) !important;
    }
    .theme-btn-outline-primary{
      border: 2px solid var(--primary-color) !important;
      color: var(--primary-color) !important;
    }
  }
}

@tailwind components;
@tailwind utilities;