@tailwind base;

@layer base {
  :root{
    --primary-color: #0c598d;
    --primary-dark-color: #0c598d;
    --primary-contrast-color: #07b2b9;
    --secondary-color: #d36117;
    --secondary-dark-color: #8a3c0a;
    --secondary-contrast-color: #f8bb0f;
    --primary-gradient: linear-gradient(45deg, var(--primary-color), var(--primary-contrast-color));
    --secondary-gradient: linear-gradient(45deg, var(--secondary-color), var(--secondary-contrast-color));
  }

  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }

  html, html.dark {
    .main.guestLayout header{
      z-index: 2;
    }

    .theme-text-primary{
      color: var(--primary-color);
    }
    .theme-btn-primary{
      @apply text-white;
      background: var(--primary-gradient) !important;
    }
    .theme-btn-outline-primary{
      border: 2px solid var(--primary-color) !important;
      color: var(--primary-color) !important;
    }
    .theme-bg-gradient-primary{
      background: var(--primary-gradient);
    }
    .theme-highlight-text-primary{
      color: var(--primary-contrast-color);
      text-shadow: 1px 1px 5px var(--primary-dark-color);
    }
    .theme-badge-primary{
      background: var(--primary-gradient);
    }

    .theme-text-secondary{
      color: var(--secondary-color);
    }
    .theme-btn-secondary{
      @apply text-white;
      background: var(--secondary-gradient) !important;
    }
    .theme-btn-outline-secondary{
      border: 2px solid var(--secondary-color) !important;
      color: var(--secondary-color) !important;
    }
    .theme-bg-gradient-secondary{
      background: var(--secondary-gradient);
    }
    .theme-highlight-text-secondary{
      color: var(--secondary-contrast-color);
      text-shadow: 1px 1px 5px var(--secondary-dark-color);
    }
    .theme-badge-secondary{
      background: var(--secondary-gradient);
    }

    .theme-badge-primary,.theme-badge-secondary{
      @apply rounded;
      @apply text-white;
      @apply text-sm;
      font-size: 12px;
      padding: 0px 3px 2px 3px;
    }

    .tabComponent.main .tabPane{
      @apply flex-wrap;
      @apply gap-[8px];
    }
    /* SM Screen */
    @media (max-width:500px) {
      .tabComponent.main{
        .tabPane{
          @apply flex-col;
          @apply w-[calc(100%-5%)];
        }
        .tabContent{
          @apply flex;
          @apply justify-center;
        }
      }
    }

    /* LG Screen */
    @media (min-width:501px) {  
      
    }
  }
}

@tailwind components;
@tailwind utilities;